In [1]:
print('Hello World!')

Hello World!

In [2]:
print("Hello World!")

Hello World!

In [3]:
print("'Hello World!'")

'Hello World!'

In [4]:
print('"Hello World!"')

"Hello World!"

In [5]:
print('''"Hello 'infinite' World!"''')

"Hello 'infinite' World!"

In [1]:
'''"Hello 'infinite' World!"'''

'"Hello \'infinite\' World!"'

In [3]:
s1 = '''"Hello 'infinite' World!"'''
print(s1)
print(type(s1))

"Hello 'infinite' World!"
<class 'str'>

# Identifiers

In [6]:
age = 20
fname = 'Guido'
lname = 'Rossum'
AGE = 24
NAME = 'Python'

In [7]:
NAME

'Python'

In [8]:
AGE

24

In [9]:
age

20

In [4]:
_age = 20 # protected/private
__AGE = 24 # strongly private

In [5]:
_age

20

In [6]:
__AGE

24

In [7]:
0_var = 30

SyntaxError: invalid token (<ipython-input-7-858d1176420b>, line 1)

In [8]:
_ = 'underscore'

In [9]:
_

'underscore'

In [10]:
var$ = 'more dollars'

SyntaxError: invalid syntax (<ipython-input-10-5f138f471a63>, line 1)

In [17]:
age = 20
fname = 'Guido'
lname = 'Rossum'
AGE = 24
NAME = 'Python'

In [18]:
id(age)

94408671121216

In [19]:
id(AGE)

94408671121344

In [20]:
id(_age)

94408671121216

In [21]:
id(_)

140313646910704

In [22]:
dir()

['AGE',
 'In',
 'NAME',
 'Out',
 '_',
 '_11',
 '_12',
 '_15',
 '_18',
 '_19',
 '_20',
 '_21',
 '_7',
 '_8',
 '_9',
 '__',
 '__AGE',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_age',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'age',
 'exit',
 'fname',
 'get_ipython',
 'lname',
 'quit']

In [23]:
id(20)

94408671121216

In [24]:
age

20

In [25]:
type(age)

int

In [26]:
age = 'twenty'

In [27]:
type(age)

str

In [1]:
f = 24.5
c = 10 + 3j

In [2]:
type(f)

float

In [3]:
type(c)

complex

In [4]:
id(f)

140310343934048

In [5]:
f = 30
id(f)

94780933533824

In [6]:
oct(10) # 2 * 8^0 + 1 * 8^1

'0o12'

In [30]:
d = 0o12

In [31]:
d

10

In [8]:
hex(10)

'0xa'

In [10]:
h = 0xa
h

10

In [32]:
id(age)

140313510869680

In [33]:
id('twenty')

140313510869680

In [34]:
f = 12.63
type(f)

float

In [35]:
f

12.63

In [11]:
s1 = 'Our first Python string!'
s2 = u'Our first unicode string!'
print(s1)
print(s2)
print(type(s1))
print(type(s2))

Our first Python string!
Our first unicode string!
<class 'str'>
<class 'str'>

In [37]:
type(s1)

str

In [38]:
type(s2)

str

# String Operations

## Indexing/Slicing

In [39]:
len(s1)

24

In [12]:
s1

'Our first Python string!'

In [13]:
s1[0]

'O'

In [14]:
s1[23]

'!'

In [15]:
s1[24]

IndexError: string index out of range

In [16]:
s1[-2] # total len + (-val) : 24 + (-1) = 23

'g'

In [17]:
list(range(5))

[0, 1, 2, 3, 4]

In [18]:
list(range(1, 11, 2)) # start, stop, step (default value os step is 1)

[1, 3, 5, 7, 9]

In [22]:
s1[0:24] # [start:stop] > start from 0 and go until 23(actually 22)

'OrfrtPto tig'

In [54]:
s1[:20:2] # [start is unspecified(default to 0): stop: step]

'OrfrtPto t'

In [51]:
s1[0:]

'Our first Python string!'

In [52]:
s1[:]

'Our first Python string!'

In [53]:
s1

'Our first Python string!'

In [55]:
list(range(1, 101, 2))

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [25]:
s1[23:10:-1]

'!gnirts nohty'

In [28]:
s1[::-1]

'!gnirts nohtyP tsrif ruO'

In [59]:
def is_palindrome(val):
    return val == val[::-1] # madam, malayalam, admin

In [60]:
is_palindrome('madam')

True

In [61]:
is_palindrome('Python')

False

In [32]:
s2 = s1 + s2

In [34]:
s2 = s2[24:]
s2

'Our first unicode string!'

In [35]:
print((s1 + '\n') * 10)

Our first Python string!
Our first Python string!
Our first Python string!
Our first Python string!
Our first Python string!
Our first Python string!
Our first Python string!
Our first Python string!
Our first Python string!
Our first Python string!

## Membership check

In [36]:
'Python' in s1

True

In [68]:
'python' in s1

False

In [37]:
'python' in s1.lower()

True

In [38]:
'$' not in s1

True

In [39]:
'!' not in s1

False

## String formatting

In [40]:
mail_temp = 'Dear %s, \nHope you are doing well and enjoying our cloud based data analysis service. And %s, would you like to try our DS service as well?\nRegards,\nChief Marketing Officer\nSteve Jobs'

In [41]:
actual_mail = mail_temp % ('Alex', 'Alex')
print(actual_mail)

Dear Alex,
Hope you are doing well and enjoying our cloud based data analysis service. And Alex, would you like to try our DS service as well?
Regards,
Chief Marketing Officer
Steve Jobs

In [47]:
mail_temp = 'Dear {0}, \n\nHope you are doing well and {0} enjoying our cloud based data analysis service. And {1}, would you like to try our DS service as well? Kill {1}.\n\nRegards,\nChief Marketing Officer\nSteve Jobs\n'

In [48]:
actual_mail = mail_temp.format('Alex', 'Bill')
print(actual_mail)

Dear Alex,

Hope you are doing well and Alex enjoying our cloud based data analysis service. And Bill, would you like to try our DS service as well? Kill Bill.

Regards,
Chief Marketing Officer
Steve Jobs

## String functions

In [53]:
s1.lower()

'our first python string!'

In [54]:
s1.upper()

'OUR FIRST PYTHON STRING!'

In [55]:
s1.title()

'Our First Python String!'

In [56]:
s1.capitalize()

'Our first python string!'

In [57]:
s1.count('t')

3

In [58]:
s1.count('T')

0

In [59]:
s1.index('t')

8

In [60]:
s1.index('t', 10)

12

In [61]:
s1.encode('utf-8', 'strict')

b'Our first Python string!'

In [104]:
enc = s1.encode('utf-8', 'strict')
type(enc)

bytes

In [62]:
import base64 as b64

In [63]:
enc = b64.b64encode(s1.encode())
enc

b'T3VyIGZpcnN0IFB5dGhvbiBzdHJpbmch'

In [64]:
b64.b64decode(enc).decode('utf-8', 'ignore')

'Our first Python string!'

In [111]:
max(s1)

'y'

In [112]:
min(s1)

' '

In [65]:
s1.find('Python')

10

In [66]:
s1.index('Python')

10

In [67]:
s1.find('python')

-1

In [68]:
s1.index('python')

ValueError: substring not found

In [132]:
s1.replace('Python', 'PySpark')

'Our first PySpark string!'

# Tuples

In [69]:
t1 = tuple()

In [70]:
type(t1)

tuple

In [71]:
t2 = tuple([2,3,4])

In [72]:
t2

(2, 3, 4)

In [73]:
t2.count(2)

1

In [74]:
t2.index(3)

1

In [75]:
t3 = tuple([3,2,4])

In [77]:
def cmp(a, b):
    return (a > b) - (a < b)

In [78]:
cmp(t2,t3)

-1

In [79]:
cmp(t3,t2)

1

In [80]:
t4 = tuple([2,3,5])

In [82]:
cmp(t2,t4)

-1

In [89]:
t2[0:3:2]

(2, 4)

# Lists

In [90]:
l1 = list()
l2 = []

In [91]:
l1 = [10,20,30]

In [92]:
len(l1)

3

In [93]:
l1[0]

10

In [94]:
l1[-1]

30

In [95]:
l1[::-1]

[30, 20, 10]

In [96]:
l2 = [10, 24.5, 'Python']

In [97]:
l2

[10, 24.5, 'Python']

In [98]:
len(l2)

3

In [99]:
len(l2[2])

6

In [100]:
sorted(t3)

[2, 3, 4]

In [101]:
sorted(l2)

TypeError: '<' not supported between instances of 'str' and 'float'

In [102]:
l2.append('Spark')
l2

[10, 24.5, 'Python', 'Spark']

In [103]:
l2.insert(2, 'Hadoop')
l2

[10, 24.5, 'Hadoop', 'Python', 'Spark']

In [104]:
l2.pop()

'Spark'

In [105]:
l2

[10, 24.5, 'Hadoop', 'Python']

In [109]:
print(3 in t3)
30 in l2

True

False

In [112]:
l2.remove('Hadoop')
l2

[10, 24.5, 'Python']

In [113]:
l2.pop(1)

24.5

In [114]:
l2

[10, 'Python']

In [115]:
del l2[0]
l2

['Python']

In [116]:
l3 = [30, 40, 'Spark', 'Flume']
l3

[30, 40, 'Spark', 'Flume']

In [117]:
l2 + l3

['Python', 30, 40, 'Spark', 'Flume']

In [118]:
print(l2, l3)

['Python'] [30, 40, 'Spark', 'Flume']

In [119]:
l2.extend(l3)
l2

['Python', 30, 40, 'Spark', 'Flume']

In [120]:
l2.append(l3)
l2

['Python', 30, 40, 'Spark', 'Flume', [30, 40, 'Spark', 'Flume']]

In [121]:
len(l2)

6

In [124]:
l2[5][0:2]

[30, 40]

In [126]:
tl = tuple([[],[],[]])
tl

([], [], [])

In [127]:
tl[0].extend(l3)
tl[1].extend(l2[0:5])
tl

([30, 40, 'Spark', 'Flume'], ['Python', 30, 40, 'Spark', 'Flume'], [])

In [128]:
l3 * 3

[30, 40, 'Spark', 'Flume', 30, 40, 'Spark', 'Flume', 30, 40, 'Spark', 'Flume']

## Dictionaries

In [33]:
d1 = {}
d2 = dict()
d3 = {1:'one', '2':'two', 3.65:'three', '4':[], '6':{}}

In [34]:
d3

{1: 'one', '2': 'two', 3.65: 'three', '4': [], '6': {}}

In [35]:
d3.keys()

dict_keys([1, '2', 3.65, '4', '6'])

In [36]:
d3.values()

dict_values(['one', 'two', 'three', [], {}])

In [37]:
d3.get('20', 'Empty/Missing')

'Empty/Missing'

In [38]:
d3['new_key'] = 'fourth'
d3

{1: 'one', '2': 'two', 3.65: 'three', '4': [], '6': {}, 'new_key': 'fourth'}

In [39]:
d3['2'] = 2
d3

{1: 'one', '2': 2, 3.65: 'three', '4': [], '6': {}, 'new_key': 'fourth'}

In [40]:
d3.items()

dict_items([(1, 'one'), ('2', 2), (3.65, 'three'), ('4', []), ('6', {}), ('new_key', 'fourth')])

In [41]:
for k,v in d3.items():
    print(k,v)

1 one
2 2
3.65 three
4 []
6 {}
new_key fourth

In [42]:
d3.pop('new_key')

'fourth'

In [43]:
d3

{1: 'one', '2': 2, 3.65: 'three', '4': [], '6': {}}

In [44]:
del d3[3.65]

In [45]:
d3

{1: 'one', '2': 2, '4': [], '6': {}}

In [46]:
len(d3)

4

In [47]:
type(d3)

dict

In [48]:
d3['3']

KeyError: '3'

In [49]:
d3.get('2', None)

2

In [50]:
d3.setdefault(1, 4)

'one'

In [51]:
d3

{1: 'one', '2': 2, '4': [], '6': {}}

In [52]:
d3.setdefault('40', 4)
d3

{1: 'one', '2': 2, '4': [], '6': {}, '40': 4}

In [53]:
del d3[1]
d3['1'] = 1

In [54]:
sorted(d3)

['1', '2', '4', '40', '6']

In [55]:
d3['2'] = 2
sorted(d3.values())

TypeError: '<' not supported between instances of 'list' and 'int'

In [56]:
d3.items()
dict(sorted(d3.items(), key=(lambda pair: pair[1]))

SyntaxError: unexpected EOF while parsing (<ipython-input-56-fc50bca9f795>, line 2)

## Sets

In [57]:
l1 = [98, 78, 99, 20, 30, 75, 63, 78, 81, 87, 93, 99, 78, 20, 75]
len(l1)

15

In [35]:
l2 = []
for mark in l1:
    if mark not in l2:
        l2.append(mark)
    else:
        pass # TODO: fill in future
l2

[98, 78, 99, 20, 30, 75, 63, 81, 87, 93]

In [36]:
len(l2)

10

In [158]:
s1 = set(l1)

In [159]:
len(s1)

10

In [160]:
s1

{20, 30, 63, 75, 78, 81, 87, 93, 98, 99}

In [161]:
s2 = {36, 75, 63, 81, 99, 45, 39, 54, 45, 54}
s2

{36, 39, 45, 54, 63, 75, 81, 99}

In [163]:
s2 & s1

{63, 75, 81, 99}

In [164]:
s2.intersection(s1)

{63, 75, 81, 99}

In [165]:
maths = s1
bio = s2

In [166]:
maths.difference(bio)

{20, 30, 78, 87, 93, 98}

In [47]:
maths - bio

{20, 30, 78, 87, 93, 98}

In [48]:
maths.union(bio)

{20, 30, 36, 39, 45, 54, 63, 75, 78, 81, 87, 93, 98, 99}

In [49]:
maths | bio

{20, 30, 36, 39, 45, 54, 63, 75, 78, 81, 87, 93, 98, 99}

In [167]:
maths.issubset(bio)

False

In [168]:
bio.issuperset(maths)

False

In [169]:
bio.symmetric_difference(maths)

{20, 30, 36, 39, 45, 54, 78, 87, 93, 98}

In [54]:
bio

{36, 39, 45, 54, 63, 75, 81, 99}

In [170]:
bio.add(84)

In [171]:
bio

{36, 39, 45, 54, 63, 75, 81, 84, 99}

In [172]:
bio.discard(94)

In [173]:
bio.pop()

99

In [175]:
bio.pop()

36

In [61]:
bio[2]

TypeError: 'set' object does not support indexing

In [62]:
cd = {1:bio, 2:maths, 3: d3}
cd

{1: {39, 45, 54, 63, 75, 81, 84},
 2: {20, 30, 63, 75, 78, 81, 87, 93, 98, 99},
 3: {'1': 1, '2': 2, '4': 4}}

In [64]:
cd[1], cd[3]['2']

({39, 45, 54, 63, 75, 81, 84}, 2)

In [65]:
cd.clear()

In [66]:
cd

{}

In [176]:
s2.clear()

In [68]:
l1

[98, 78, 99, 20, 30, 75, 63, 78, 81, 87, 93, 99, 78, 20, 75]

In [69]:
l1.index(30)

4

# Operators

In [177]:
a = 5
b = 3
a/b, a%b, a//b

(1.6666666666666667, 2, 1)

In [178]:
a += b
a

8

In [179]:
a and b

3

In [180]:
a or b

8

In [74]:
not a

False

In [181]:
a = None
not a

True

In [182]:
a and b

In [183]:
a  or b

3

In [185]:
a = 5
a & b

1

In [79]:
a | b

7

In [186]:
a is None

False

In [84]:
if a>b:
    print(a)
elif a<b:
    print(b)
else:
    print('The values are equal')

The values are equal

In [83]:
a = 3

# Loops and flow control

In [87]:
nl = {'rec1': {'fname': 'Steve', 'lname': 'Adams'}, 
      'rec2': {'fname': 'Brian', 'lname': 'Jobs'}}
for rec_key, rec in nl.items():
    if rec_key == 'rec2':
        print('Reading record : ', rec_key)
        for k,v in rec.items():
            print('\t', k, v)

Reading record :  rec2
	 fname Brian
	 lname Jobs

In [88]:
cnt = 0
while (cnt<=10):# and today == '07/29/2018' and weather == 'cloudy'):
    print(cnt)
    cnt+=1

0
1
2
3
4
5
6
7
8
9
10

In [94]:
vals = list(range(1, 300))
for item in vals:
    if item <= 15:
        print(item**2)
    else:
        break
print('Done processing values!')

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
Done processing values!

# Dict Diff

In [100]:
d1 = {'fname': 'Steve', 'lname': 'Jobs'}
d2 = {'fname': 'Steve', 'lname': 'Jobs', 'age': 21}

In [104]:
is_equal = True
diff = set(d1.keys()).symmetric_difference(set(d2.keys()))
print(diff)
if len(set(d1.keys()).symmetric_difference(set(d2.keys()))) == 0:
    print('Same number and set of keys')
    for k in d1:
        print('Key is:', k)
        if k in d2:
            print(d1[k], d2[k])
            if d1[k] == d2[k]:
                pass
            else:
                is_equal = False
                break
        else:
            is_equal = False
            break
else:
    is_equal = False
print(is_equal)

set()
Same number and set of keys
Key is: fname
Steve Steve
Key is: lname
Jobs Jobs
True

# Input function

In [7]:
var=input('Enter your age(0-120):')
print(var, type(var))

age = int(var)

if age > 0 and age <= 120:
    print('You entered valid age')
else:
    print('Hello {}!'.format(var))

Enter your age(0-120):121
121 <class 'str'>
Hello 121!

# OS Library

In [8]:
import os

In [9]:
os.getcwd()

'/mnt/home/edureka_121039'

In [10]:
os.curdir

'.'

In [122]:
os.listdir(os.getcwd())

['Module2.ipynb',
 '.bash_profile',
 'new\\County.csv',
 '.cache',
 'USA_Arrests.txt',
 'new',
 '.ipynb_checkpoints',
 '.jupyter',
 '.bashrc',
 '.ipython',
 '.local',
 '.bash_logout']

In [114]:
os.mkdir('new')

In [13]:
fp = open('Misc/USA_Arrests.txt', 'r')
for line in fp:
    print(line)
# print(fp.read())
fp.close()

"","Murder","Assault","UrbanPop","Rape"



"Alabama",13.2,236,58,21.2



"Alaska",10,263,48,44.5



"Arizona",8.1,294,80,31



"Arkansas",8.8,190,50,19.5

In [14]:
import codecs

In [18]:
fp = codecs.open(os.path.join('Misc/new','County.csv'), 'r', 'utf-8')
cnt = 0
for line in fp:
    if cnt <= 10:
        print(line)
    else:
        break
    cnt += 1
fp.close()

FIPS_Code,State,Area_name,Civilian_labor_force_2011,Employed_2011,Unemployed_2011,Unemployment_rate_2011,Median_Household_Income_2011,Med_HH_Income_Percent_of_StateTotal_2011
00000,US,United States,154505871,140674478,13831393,9,50502,100
01000,AL,Alabama,2190519,1993977,196542,9,41427,100
01001,AL,Autauga County,25930,23854,2076,8,48863,117.9
01003,AL,Baldwin County,85407,78491,6916,8.1,50144,121
01005,AL,Barbour County,9761,8651,1110,11.4,30117,72.7
01007,AL,Bibb County,9216,8303,913,9.9,37347,90.2
01009,AL,Blount County,26347,24156,2191,8.3,41940,101.2
01011,AL,Bullock County,3762,3186,576,15.3,26038,62.9
01013,AL,Butler County,9311,8231,1080,11.6,30489,73.6
01015,AL,Calhoun County,53790,48846,4944,9.2,39060,94.3

In [24]:
os.rename('Misc/old/County.csv', os.path.join('Misc/','County.csv'))

In [27]:
wp = open(os.path.join('Misc/new', 'ccopy.csv'), 'w')

rp = open(os.path.join('Misc','County.csv'), 'r')
cnt = 0
for line in rp:
    if cnt <= 10:
        wp.write(line)
        wp.write('\n')
    else:
        break
    cnt += 1
rp.close()
wp.close()

In [28]:
os.remove(os.path.join('Misc/new', 'ccopy.csv'))

In [58]:
import json
wp = open(os.path.join('Misc/new', 'test_new.json'), 'w+')
for x in range(3):
    if x == 0:
        wp.write(json.dumps(d1))
    elif x == 1:
        wp.write(json.dumps(d2))
    else:
        wp.write(json.dumps({'age':24, 'salary':10000}))
    wp.write('\n')
wp.close()

In [59]:
import json
rp = open(os.path.join('Misc/new', 'test.json'), 'r')
# content = json.loads(rp.read())
for line in rp:
    print(line)
    rec = json.loads(line)
    print(rec, type(rec))
    print(rec.get('salary', 'Not found'))
    
rp.close()

{"fname": "Steve", "lname": "Jobs"}

{'fname': 'Steve', 'lname': 'Jobs'} <class 'dict'>
Not found
{"fname": "Steve", "lname": "Jobs"}

{'fname': 'Steve', 'lname': 'Jobs'} <class 'dict'>
Not found
{"age": 24, "salary": 10000}

{'age': 24, 'salary': 10000} <class 'dict'>
10000

In [135]:
# d1['key'] and d1[key]
path = os.path.join('c:\\users\\ketan\\data\\v1', 'first.json')
print(path)

c:\users\ketan\data\v1/first.json

In [32]:
os.path.exists(os.path.join('Misc/old', 'test.json'))

False